/* PRINCIPAL */
.principal {
    width: 100%;
    float: left;
    padding: 20px 8%;
}

.titulo {
    font-size: 2em;
}

.sobre {
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
}

.sobre h2 {
    margin-bottom: 15px;
}
  
.sobre img {
    width: 50%;
    float: left;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}
  
.sobre p {
    text-align: justify;
}

/* SIDEBAR */
.onde_estamos {
    width: 30%;
    float: right;
    padding: 10px 20px;
    background-color: #f5F5f5;
    border-radius: 5px;
}
  
.onde_estamos h2 {
    margin-bottom: 5px;
}
  
.onde_estamos iframe {
    width: 100%;
    height: 250px;
    margin: 20px 0;
}
  
.onde_estamos li {
    color: #777;
    margin-bottom: 10px;
}
  
.onde_estamos i {
    margin-right: 5px;
}